<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register rental</title>
</head>
<body>
<h1>Reserve your rental</h1>
<form action="/retal/:id/make-reservation" method="post">
    <p>
        <label th:for="startDate" >Enter the start date</label><br/>
        <input type="text" th:name="startDate" th:required="required"/>
    </p>
    <p>
        <label th:for="endDate">Enter the end date</label><br/>
        <input type="text" th:name="endDate" th:required="required"/>
    </p>

    <p>
        <label th:for="numberOfPeople">Enter the number of guests</label><br/>
        <input type="text" th:name="numberOfPeople" th:required="required"/>
    </p>
    <br/>
    <input type="submit" value="Reserve"/>
</form>
</body>
</html>