<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Kar-alá-B Rentals</title>
</head>
<body>
<h1>Rentals page</h1>
<div class="divTable" th:each="rental : ${rentals}">
    <div class="divTableBody">
        <div class="divTableRow">
            <span class="divTableCell">Id</span>
            <span class="divTableCell" th:text="${rental.id}"></span>
        </div>
        <div class="divTableRow">
            <span class="divTableCell">Name</span>
            <span class="divTableCell" th:text="${rental.name}"></span>
        </div>
        <div class="divTableRow">
            <span class="divTableCell">Description</span>
            <span class="divTableCell" th:text="${rental.description}"></span>
        </div>
        <div class="divTableRow">
            <span class="divTableCell">Price</span>
            <span class="divTableCell" th:text="${rental.price}"></span>
        </div>
        <div class="divTableRow">
            <span class="divTableCell">City</span>
            <span class="divTableCell" th:text="${rental.city}"></span>
        </div>
        <div class="divTableRow">
            <span class="divTableCell">Number of guests</span>
            <span class="divTableCell" th:text="${rental.numOfGuests}"></span>
        </div>
        <p></p>
    </div>
</div>
</body>
</html>