<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Kar-alá-BNB  -  Checkout our rentals</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/css/3-col-portfolio.css" rel="stylesheet"/>

  </head>

  <body>

    <!-- Navigation -->
    <nav th:replace="fragments::navBar"></nav>

    <!-- Page Content -->
    <div class="container">
      <div>
        <form action="/rentals">
          Filter by :
          <select class="selectpicker btn btn-secondary dropdown-toggle" th:placeholder="City" th:name="filterByCity">
            <option th:value="Budapest">Budapest</option>
            <option th:value="Moskow">Moskow</option>
            <option th:value="Russia">Russia</option>
            <option th:value="Russia">Russia</option>
          </select>
          <button type="submit" class="btn btn-secondary">Filter</button>
        </form>

      </div>

      <!-- Page Heading -->
      <h1 class="my-4">Rentals

      </h1>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item" th:each="rental : ${rentals}">
          <div class="card h-100 rentals">
            <a th:href="${'/rental/' + rental.id}"><img class="card-img-top rentals" th:src="${rental.pictures[0].url}" alt="" height="250px"/></a>
            <div class="card-body">
              <h4 class="card-title">
                <a th:href="${'/rental/' + rental.id}" th:text="${rental.name}">Rental name</a>
              </h4>
              <p class="card-text" th:text="${rental.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark register" style="position:relative">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Supreme Kar-alá-b 2018</p>
      </div>
      <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
