<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Kar-alá-BNB  -  View Rental</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="css/shop-item.css" rel="stylesheet"/>

  </head>

  <body>

    <!-- Navigation -->
    <nav th:replace="fragments::navBar"></nav>

    <!-- Page Content -->
    <div class="container rental">

      <div class="row">

        <div class="col-lg-3">
          <h1 class="my-4">Rental's page</h1>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="card-img-top img-fluid" th:src="${rental.picture}" alt=""/>
            <div class="card-body">
              <h3 class="card-title" th:text="${rental.name}" ></h3>
              <h4 th:text="${rental.price} + '$'">$24.99</h4>
              <p class="card-text" th:text="${rental.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                <span th:text="${rental.rating} + ' stars'"></span>
            </div>
              <a th:href="${rental.id + '/make-reservation'}" class="btn btn-success">Make reservation</a>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Rental Reviews
            </div>
            <div class="card-body" th:each="review,iterstat : ${reviews}">
                <div>
                    <a th:href="${'/update-review/' + review.getId() }" class="btn btn-success">Update</a>
                </div>
              <p th:text="${review.getText()}" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17 Rating : <span th:text="${review.getRating()}"></span>  </small>
              <hr/>
            </div>
          <a th:href="${rental.id + '/add-review'}" class="btn btn-success">Leave a Review</a>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Supreme Kar-alá-b 2018</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
